 # Exercise 1: Opening and Closing a File
Open a file named `exercise1.txt` in write mode, write the text 'Hello, File Handling!', and then close the file.

# Exercise 2: Reading from a File
Open the file `exercise1.txt` in read mode and print its contents.

Hello,File Handling!

# Exercise 3: Writing Multiple Lines
Write the following lines to a file named `exercise3.txt`:
- Line 1
- Line 2
- Line 3

# Exercise 4: Handling Binary Files
Create a binary file named `exercise4.bin` and write the binary data `b'Binary Data Example'` to it.

# Exercise 5: Sequential and Random Access
Open the file `exercise3.txt` and read the second line using the `seek()` method.

Tesla

# Exercise 6: Reading a CSV File
Read the contents of `data.csv` and print each row.

['Name', 'Age', 'City']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']

# Exercise 7: Writing to a CSV File
Write the following data to a CSV file named `exercise7.csv`:
- Name, Age, City
- Alice, 30, New York
- Bob, 25, Los Angeles