<a href="https://colab.research.google.com/github/usshaa/DMI/blob/main/MySql/Python_SQl_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Required Libraries
Import the necessary libraries, such as mysql.connector, for connecting to and interacting with a MySQL database.

In [1]:
!pip install pysqlite3

Collecting pysqlite3
  Downloading pysqlite3-0.5.4.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.7/40.7 kB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.4-cp311-cp311-linux_x86_64.whl size=159235 sha256=834c66021e375588ee3af495a36d71d16f3990a7b615a4c953ea007ea6d10455
  Stored in directory: /root/.cache/pip/wheels/83/05/4e/8fb9d7378ff72e4fd02b69df7a6052c34d33cea2a0231ca232
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.4

In [2]:

import sqlite3

# Connect to MySQL Database
Establish a connection to the MySQL database using mysql.connector.connect().

In [3]:
import sqlite3

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
print("Opened database successfully")
# Perform database operations here

conn.close()

Opened database successfully

# Exercise 1: Create a New Database
Write a Python script to create a new database in MySQL using the CREATE DATABASE SQL command.

# Exercise 2: Create a Table
Write a Python script to create a new table in the database using the CREATE TABLE SQL command.

# Exercise 3: Insert Data into the Table
Write a Python script to insert multiple rows of data into the table using the INSERT INTO SQL command.

# Exercise 4: Query Data from the Table
Write a Python script to retrieve data from the table using the SELECT SQL command.

# Exercise 5: Update and Delete Data
Write a Python script to update specific rows in the table using the UPDATE SQL command and delete specific rows using the DELETE SQL command.

# Exercise 6: Create a New Database
Write a Python script to create a new database named `test_db`.

# Exercise 7: Create a Table
Write a Python script to create a table named `users` with columns `id`, `name`, and `email` in the `test_db` database.

# Exercise 8: Insert Data into Table
Write a Python script to insert a new user with name `John Doe` and email `john.doe@example.com` into the `users` table.

# Exercise 9: Fetch Data from Table
Write a Python script to fetch and display all records from the `users` table.